{{! Use the main layout }}
{{!< main }}

<section class="logout-confirmation-container">
    <h1>You've successfully logged out.</h1>
    <p> Thanks for {{{toLowerCase postNeoType}}}ing! We look forward to your next visit.</p>
    <div class="logout-links">
        <a href="/login">Log Back In</a>
        <a href="/">Home</a>
    </div>
</section>
