{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area">
        <h2>Login</h2>
        <a href="/auth/google" class="google-login-link">
            <div>
                <img src="/images/google.png" alt="Google logo">
                <span>Continue with Google</span>
            </div>
        </a>
        {{!-- <!-- errors will appear here -->
        {{#if loginError}}
            <p style="color: red;">{{loginError}}</p>
        {{else}}
            <p> </p>
        {{/if}}
        <form action="/login" method="POST">
            <!-- the login form goes here -->        
            <label for="login-name">Username</label>
            <input type="text" id="login-name" name="username">
            <button type="submit">Login</button>
        </form> --}}
    </section>
</section>