:root {
    --light-gray: #f0f2f5;
}

html {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    color: black;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

button {
    transition: 200ms;
}

button:hover {
    cursor: pointer;
    background-color: lightgray;
}

/* Header */

header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    border-bottom: 1px solid gray;
    /* box-shadow: 0px 2px gray; */
}

header .logo {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

header nav {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    overflow: hidden;
}

header nav ul .user-info .header-avatar-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

/* Body */

.content-container {
    width: 100%;
    height: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

/* * Login/Register * */

.login-register {
    width: 100%;
    height: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.login-register section {
    min-width: 400px;
    padding: 40px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.login-register section h2 {
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 32px;
    border-bottom: 1px solid gray;
}

.login-register section form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 8px;
}

.login-register section form label {
    font-size: 20px;
}

.login-register section form input {
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid gray;
}

.login-register section form button {
    margin-top: 40px;
    padding: 8px;
    font-size: 20px;
    border-radius: 8px;
} 

.login-register section form button:hover {
    transform: translateY(4px);
}

.login-register span {
    font-size: 24px;
}

.login-register p {
    height: 20px;
    font-size: 16px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

/* * Post * */

.post-form {
    flex-grow: 1;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-form form {
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px gray;
}

.post-form label {
    font-size: 20px;
}

.post-form form input {
    width: 95%;
    margin-bottom: 10px;
    padding: 12px;
    align-self: center;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 8px;
}

.post-form form textarea {
    width: 95%;
    min-height: 120px;
    margin-bottom: 10px;
    padding: 12px;
    align-self: center;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 8px;
    resize: vertical;
    overflow-y: auto;
}

.post-form form .form-actions {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.post-form form button {
    height: 48px;
    margin-top: 20px;
    padding: 8px;
    font-size: 20px;
    border-radius: 8px;
} 

.post-form form button:hover {
    transform: translateY(4px);
}

.post-form .emoji-button {
    width: 48px;
}

.post-form .post-button {
    width: 256px;
}

.post-form h2 {
    margin-bottom: 40px;
    padding: 0 20px 8px 20px;
    border-bottom: 1px solid gray;
    font-size: 32px;
    text-align: center;
}

.post-form .emoji-panel {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 8px;
}

.post-form .emoji-panel input {
    width: 80%;
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 8px;
}

.post-form .emoji-panel #emoji-grid {
    width: 90%;
    text-align: center;
}

.posts-list {
    flex-grow: 2;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posts-list h2 {
    margin-bottom: 40px;
    padding: 0 20px 8px 20px;
    border-bottom: 1px solid gray;
    font-size: 32px;
    text-align: center;
}

.posts-list ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.post {
    width: 80%;
    max-width: 800px;
    min-width: 720px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px gray;
}

.post .post-avatar {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.post .post-avatar .post-avatar-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post .post-content {
    flex: 1;
}

.post .post-content > h3 {
    padding-bottom: 12px;
    font-size: 24px;
}

.post .post-content > p {
    font-size: 18px;
}

.post .post-content .post-status-bar {
    margin-top: 32px;
    padding-top: 20px;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    color: gray;
}

.post .post-content .post-status-bar .post-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.post .post-content .post-status-bar .post-button-container .like-button {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-color: gray;
    border-radius: 50%;
    background: none;
    background-color: white;
    color: gray;
    font-size: 20px;
}

.post .post-content .post-status-bar .post-button-container .delete-button {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    background-color: white;
    color: gray;
    font-size: 20px;
}

.post .post-content .post-status-bar .post-button-container .like-button:hover {
    transform: scale(1.2);
}

.post .post-content .post-status-bar .post-button-container .delete-button:hover {
    transform: scale(1.2);
}

/* * Profile * */

.profile-container {
    max-width: 40%;
    height: 100%;
    margin: 40px auto;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px gray;
}

.profile-container .profile-avatar {
    height: 160px;
    width: 160px;
    border-radius: 10px;
    overflow: hidden;
}

.profile-container .profile-avatar .profile-avatar-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-container .profile-info h2 {
    font-size: 32px;
    margin-bottom: 12px;
    border-bottom: 1px solid gray;
} 

.profile-container .profile-info p {
    font-size: 20px;
} 

.user-posts {
    margin: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-posts h2 {
    margin-bottom: 40px;
    padding: 0 20px 8px 20px;
    font-size: 32px;
    border-bottom: 1px solid gray;
}

.user-posts ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

/* Footer */

footer {
    width: 100%;
    margin-top: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
}


/* Media Queries */

@media screen and (max-width: 1240px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .post-form {
        margin-bottom: 40px;
    }

    .profile-container {
        max-width: 95%;
    }

    div#emoji-container {
        max-width: 480px;
    }
}

@media screen and (max-width: 1200px) {
    .login-register {
        flex-direction: column;
        align-items: center;
    }

    .login-register section {
        min-width: 400px;
        padding: 40px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 800px) {
    .post {
        min-width: 360px;
        gap: 12px;
    }

    .post .post-content .post-status-bar {
        text-align: center;
        gap: 20px;
    }
    
    .post .post-content .post-status-bar .post-button-container {
        gap: 10px;
    }
}

@media screen and (max-width: 580px) {
    h1 {
        font-size: 24px;
    }

    header nav ul {
        gap: 8px;
        text-align: center;
        font-size: 16px;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-container .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}